.main-canvas {
  width: 100vw;
  height: 100vh;
  position: relative;
}

// todo: ?extract button styles out of addNodeForm.scss and make this button nicer
.clear-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
