.node-content {
  padding: 4px;
  text-align: center;
}

.skill-name {
  display: block;
  font-weight: bold;
  font-size: 1em;
}

.skill-description {
  display: block;
  font-weight: normal;
  font-size: 0.8em;
  margin-top: 4px;
}
